.jogadores-table-container {
  height: auto;
  margin-bottom: 50px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.jogadores-table {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px black;
  background-color: silver;
}
.jogadores-table th,
.jogadores-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid grey;
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size: 0.8rem;
}
.jogadores-table th {
  background-color: rgb(255, 47, 47);
  color: white;
  font-weight: bold;
}
tr img {
  width: 2rem;
  border-radius: 50px;
}

.jogadores-table tr:hover {
  background-color: #ecfa25;
}

/********Breakpoint********/
/*small*/
@media (min-width: 576px) {
}

/*medium*/
@media (min-width: 768px) {
}

/*large*/
@media (min-width: 992px) {
}

/*extra large*/
@media (min-width: 1200px) {
}

/*extra extra large*/
@media (min-width: 1400px) {
}
