.jogadores-container {
  min-height: var(--page-min-height);
  /* padding-inline: var(--page-padding-inline); */
  background-color: #ffffff; /*undecided*/
}

.jogadores-table-container {
  margin-bottom: 50px; /*undecided*/
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /*to allow horizonatl scroll*/
}
caption {
  color: rgb(255, 255, 255); /*undecided*/
  background-color: hsl(0, 24%, 40%); /*undecided*/
  border-bottom: none;
  padding-block: 0.5rem;
}

.jogadores-table {
  margin: 0 auto 1rem;
  background-color: rgb(250, 250, 250);
  width: 70vw;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.jogadores-table,
.jogadores-table th,
.jogadores-table td {
  border-collapse: collapse;
}

.jogadores-table th,
.jogadores-table td {
  padding: 0.3rem 0.3rem;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.jogadores-table th {
  /* position: sticky;
  top: 0;
  border-bottom: 2px solid #000000;
  z-index: 10; */

  color: white; /*undecised*/
  text-align: left;
  padding: 1.2rem 0.5rem;
  background-color: var(--dark); /*undecised*/
  border-bottom: 2px solid #888888; /*undecised*/
}

.jogadores-table th:nth-child(1) {
  text-align: center;
}

tr .image-container {
  background-color: var(--dark); /*decised*/
  text-align: center;
}

tr .image-container img {
  width: 2rem;
  border-radius: 50%;
}

tr .team-container {
  background-color: #25befa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.4rem;
}
tr .team-container img {
  width: 1.5rem;
  border-radius: 50%;
}

tr .image-container:hover,
.jogadores-table tr:hover {
  background-color: #ecfa25; /*undecised*/
}

tbody tr:nth-child(even) {
  background-color: rgb(226, 226, 226);
}

/*****************************************/
/******************************************/

/********Breakpoint********/
/*small*/
@media (min-width: 576px) {
}

/*medium*/
@media (min-width: 768px) {
}

/*large*/
@media (min-width: 992px) {
}

/*extra large*/
@media (min-width: 1200px) {
}

/*extra extra large*/
@media (min-width: 1400px) {
}

/*
.table_body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto; /*scroll bar
}
.table_body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.table_body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}
.table_body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
table {
  width: 100%;
}
thead,
th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
}
table,
th,
td {
  padding: 1rem;
  border-collapse: collapse;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #fff6;
}
td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem; **
  border-radius: 50%;
  vertical-align: middle; ***
}
.status {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
}
.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

.status.pending {
  background-color: #ebc473;
  /* color: #b30021;
}

.status.shipped {
  background-color: #6fcaea;
  /* color: #b30021;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}
*/
