.page-heading-container {
  background-color: var(--light);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.page-heading-container h1 {
  width: 60vw;
  color: var(--light);
  background: linear-gradient(90deg, red, orange); /*undecided*/
  border-radius: var(--h1-container-border-radius);
  text-decoration: underline solid;
  font-size: 1.2rem;
  padding-block: 0.2rem;

  border: 2px solid transparent; /* Set a transparent border to allow the border-image to show through */ /*undecided*/
  border-image: linear-gradient(90deg, orange, red) 1; /* Apply the gradient and set the slice value to 1 */
  /*undecided*/

  /*small*/

  /*medium*/
  @media (min-width: 768px) {
    font-size: 1.3rem;
  }

  /*large*/
  @media (min-width: 992px) {
    font-size: 1.4rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    font-size: 1.6rem;
  }
}
