/********Breakpoint********/
/*small*/
@media (min-width: 576px) {
}

/*medium*/
@media (min-width: 768px) {
}

/*large*/
@media (min-width: 992px) {
}

/*extra large*/
@media (min-width: 1200px) {
}

/*extra extra large*/
@media (min-width: 1400px) {
}

/**********************************************/
/*********************************/
.inscricao-instruction-message-container {
  background-color: rgb(178, 180, 80);
  padding-inline: 1rem;
  margin-inline: 1rem;
}
.inscricao-instruction-message-container p {
  color: rgb(25, 0, 255);
}

.inscricao-form .success-message {
  text-align: center;
  font-size: 1rem;
  color: #28a745;
}
.inscricao-form .error-message {
  text-align: center;
  font-size: 1rem;
  color: #dc3545;
}
/************************/
.create-full-screen-container {
  min-height: var(--page-min-height);
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(99, 199, 199);
}

.create-container {
  background-color: var(--highlight-color2);
  border-radius: var(--form-input-border-radius);
  box-shadow: var(--form-shadow);
  padding: var(--form-container-padding);
  width: 90vw;
  max-width: 37.5rem;
  margin-block: 1rem;

  background-color: #f9f9f9; /*******/
}

.create-title {
  margin: 0;
  color: var(--light);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;

  color: red; /******/
}

.create-account-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.create-account-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;

  background-color: rgb(216, 85, 172); /******/
}
.create-account-form .input-group label {
  color: var(--light);
  font-weight: lighter;

  color: #333; /*****/
}
.create-account-form .input-group input {
  font-size: 1.2rem;
  padding: var(--form-input-padding);
  border: none;
  outline: none;
  border-radius: var(--form-input-border-radius);
  background-color: var(--highlight-color1);
  color: var(--dark);
  font-weight: lighter;
}
.create-account-form .input-group input::placeholder {
  font-size: 0.8rem;
  color: var(--dark);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.create-account-form .input-group input:focus {
  box-shadow: 0 0 0 1.5px var(--primary-color2);
}

.create-button {
  color: var(--light);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: lighter;
  background-color: #0056b3;
  border: 1px solid var(--dark);
  border-radius: var(--form-btn-input-border-radius);
  outline: none;
  outline: none;
  cursor: pointer;
  transition: background-color var(--transition-timing);
}
.create-button:hover {
  background-color: var(--primary-color2);
}

.note {
  color: var(--light);
  font-size: 0.8rem;
}
