/********Breakpoint********/
/*small*/
@media (min-width: 576px) {
}

/*medium*/
@media (min-width: 768px) {
}

/*large*/
@media (min-width: 992px) {
}

/*extra large*/
@media (min-width: 1200px) {
}

/*extra extra large*/
@media (min-width: 1400px) {
}

/**********************************************/
/*********************************/

.inscricao-form .success-message {
  text-align: center;
  font-size: 1rem;
  color: #28a745;
}
.inscricao-form .error-message {
  text-align: center;
  font-size: 1rem;
  color: #dc3545;
}
/********************************/
/**********************************************/

.inscricao-full-screen-container {
  min-height: var(--page-min-height);
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(192, 191, 191); /**********/
}

.inscricao-instruction-message-container {
  background-color: rgb(248, 228, 228); /******/
  padding: 0.4rem 1rem;
  margin-inline: 1rem;
  width: 90vw;
  max-width: 37.5rem;

  border-radius: 3px; /*************/
}
.inscricao-instruction-message-container p {
  color: var(--dark); /*****/
}

.inscricao-form-container {
  background-color: var(--highlight-color2);
  border-radius: var(--form-container-border-radius);
  box-shadow: var(--form-shadow);
  padding: var(--form-container-padding);
  width: 90vw;
  max-width: 37.5rem;
  margin-block: 1rem;

  background-color: grey; /*******/
}

.inscricao-title {
  margin: 0;
  color: var(--light);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;

  color: rgb(14, 36, 1); /******/
}

.inscricao-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.inscricao-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.inscricao-form .input-group label {
  color: var(--light);
  font-weight: lighter;

  color: #333; /*****/
}
.inscricao-form .input-group input {
  font-size: 1.2rem;
  padding: var(--form-input-padding);
  border: none;
  outline: none;
  border-radius: var(--form-input-border-radius);
  background-color: var(--highlight-color1);
  color: var(--dark);
  font-weight: lighter;
}
.inscricao-form .input-group input::placeholder {
  font-size: 0.8rem;
  color: var(--dark);
  font-style: italic;
}

.inscricao-form .input-group input:focus {
  box-shadow: 0 0 0 1.5px var(--form-btn-input-bg-color);
}

/*****************/
.inscricao-form .input-group input:not(:placeholder-shown):valid {
  box-shadow: 0 0 0 1.5px green;
}
.inscricao-form .input-group input:not(:placeholder-shown):invalid {
  box-shadow: 0 0 0 1.5px red;
}
.inscricao-form .input-group input:focus:invalid {
  box-shadow: 0 0 0 1.5px blue;
}
/*****************/

.submit-button {
  color: var(--light);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--form-btn-input-bg-color);
  border: 1px solid var(--dark);
  border-radius: var(--form-btn-input-border-radius);
  outline: none;
  cursor: pointer;
  transition: background-color var(--transition-timing);
}
.submit-button:hover {
  background-color: var(--primary-color2);
}
