.equipas-container {
  min-height: var(--page-min-height);
  padding-bottom: 50px;
  padding-inline: 1rem;

  background-color: rgb(211, 113, 113); /********/
}

.teams-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.2rem;
  grid-auto-rows: minmax(75px, auto);
  justify-content: center;
}
