.equipas-container {
  min-height: var(--page-min-height);
  margin-bottom: 50px;
}

.teams-container {
  /* display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;

  margin-left: auto;
  margin-right: auto; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.2rem;
  grid-auto-rows: minmax(75px, auto);
}
