.equipas-container {
  min-height: var(--page-min-height);
  padding-bottom: 50px;
  padding-inline: var(--page-padding-inline);

  background-color: rgb(99, 107, 98); /*undecided*/
}

.teams-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
}
