.eqcard {
  display: flex;
  border: 2px solid rgb(217, 255, 0);
  border-radius: 8px;
  flex-direction: column;
  justify-content: center; /**/
  /* width: 250px; */
  background-color: rgb(224, 236, 48);
  overflow: hidden;
  text-align: center;
  transition: transform 200ms ease;
  box-shadow: 0 2px 2px black;
}
.eqcard img {
  width: 100%; /* Image takes the full width of the card */
  height: auto; /* Maintain aspect ratio */
  border-bottom: 1px solid #ddd;
}

.eqcard h3 {
  padding: 10px;
  font-size: 18px;
  text-decoration: underline solid rgb(255, 255, 255) 1px;
}
.eqcard:hover {
  transform: scale(1.1);
  border: 2px solid green;
  box-shadow: 0 4px 6px black;
}
