.sobre-container {
  min-height: 70vh;
  padding-inline: var(--page-padding-inline);
}

.sobre-container-text {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border: 2px solid green;
  border-radius: 8px;
}

.sobre-container-text p {
  color: red;
}

.img-container {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border: 2px solid green;
  border-radius: 8px;
}

.img-container img {
  max-width: 80%;

  /*small*/

  /*medium*/

  /*large*/
  @media (min-width: 992px) {
    max-width: 30%;
  }

  /*extra large*/

  /*extra extra large*/
}
