.sobre-container {
  min-height: 70vh;
  padding-inline: var(--page-padding-inline);
}

.sobre-container-text {
  background-color: rgb(240, 240, 240);
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 8px;
}

.sobre-container-text p {
  color: rgb(0, 0, 0);
}

.img-container {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  margin-block: 1rem;
}

.img-container img {
  max-width: 70%;

  /*small*/

  /*medium*/
  @media (min-width: 768px) {
    max-width: 60%;
  }

  /*large*/
  @media (min-width: 992px) {
    max-width: 35%;
  }

  /*extra large*/

  /*extra extra large*/
}
