*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 150px;
  /* text-align: center; */

  /*from medium and beyond*/
  /* @media (min-width: 768px) {
    padding-top: 150px;
  } */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --page-min-height: 100vh;

  /*colors*/
  --dark: #000000;
  --light: #ffffff;
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;
  --highlight-color1: #edefee;

  /*************general*****************/
  /* border-radiuses*/
  --h1-container-border-radius: 0.4rem;
  --page-padding-inline: 1rem;

  /* form related*/
  --form-input-padding: 0.5rem;
  --form-input-border-radius: 0.3rem;
  --form-container-border-radius: 0.8rem;
  --form-container-padding: 1.25rem 0.8rem;
  --form-shadow: 1px 1px 10px rgba(255, 255, 255, 0.8);

  /* form submit button related*/
  --form-btn-input-border-radius: 5rem;
  --form-btn-input-bg-color: #0056b3;

  /* animation related*/
  --transition-timing: 300ms;

  /*

  --secondary-color1: #ee9972;
  --secondary-color2: #fbdabb;


  --highlight-color2: #333333;


  /* general butttons related
  --btn-border-radius: 0.6rem;

  /* general images related
  --img-border-radius: 0.625rem;

  */
}
