.footer-container {
  background-color: var(--dark);
  padding: 1rem 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo-conatiner {
  /* flex: 1; */
  width: 33%;

  /*small*/

  /*medium*/
  @media (min-width: 768px) {
    width: 50%;
  }

  /*large*/

  /*extra large*/

  /*extra extra large*/
}
.footer-logo-conatiner .footer-logo-link {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-logo-conatiner img {
  width: 40%;

  /*small*/

  /*medium*/
  @media (min-width: 768px) {
    width: 30%;
  }

  /*large*/
  @media (min-width: 900px) {
    width: 20%;
  }

  /*extra large*/

  /*extra extra large*/
}

.footer-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex: 2; */
  width: 77%;

  /*small*/

  /*medium*/
  @media (min-width: 768px) {
    width: 50%;
  }

  /*large*/

  /*extra large*/

  /*extra extra large*/
}

.footer-text-container p {
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: var(--light);

  /*large*/
  @media (min-width: 992px) {
    font-size: 0.8rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    font-size: 0.9rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    font-size: 1rem;
  }
}
.creator-name {
  font-size: 0.7rem;
  color: rgb(0, 255, 0);
}
